version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: credit-score-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models

  frontend:
    build:
      context: .
      dockerfile: DockerfileStreamlit
    container_name: credit-score-frontend
    ports:
      - "8501:8501"
    depends_on:
      - api